
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Room Image</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <h2>Upload Image for Room {{ room.room_number }}</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label for="image">Choose an image:</label>
        <input type="file" name="image" accept="image/*" required><br><br>

        <button type="submit">Upload Image</button>
    </form>

    <p><a href="{% url 'room_details' id=room.hotel.id %}">Back to Room Details</a></p>
    <h3>Room Images</h3>
        {% if room.room_image_set.all %}
            {% for image in room.room_image_set.all %}
                <img src="{{ image.image.url }}" alt="Room Image" width="200"><br>
            {% endfor %}
        {% else %}
            <p>No images available for this room.</p>
        {% endif %}
    


</body>
</html>




 
